spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: testdb
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.data.mongodb: DEBUG
